{% extends 'base.html.twig' %}

{% block body %}
	<nav class="l-side-nav">
		<ul class="side-nav">
			<li class="is-active">
				<span>Accueil</span>
			</li>
			<li>
				<span>Mes projets et réalisations</span>
			</li>
			<li>
				<span>Mon parcours professionnel</span>
			</li>
			<li>
				<span>Mes compétences</span>
			</li>
			<li>
				<span>Me contacter</span>
			</li>
		</ul>
	</nav>
	<ul class="l-main-content main-content">
		<li class="l-section section section--is-active">
			<div class="intro">
				<div class="intro--banner">
					<h1>Développeur Web<br>Intégrateur<br>Junior</h1>
					<button class="cta">Me contacter
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
							<g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
								<path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
							</g>
						</svg>
						<span class="btn-background"></span>
					</button>
					<img style="width: 450px; opacity: 0.5; mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%); -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%);" src="{{ asset('styles/img/profil/Profil.webp') }}" alt="Yoan DE VRIEZE">
				</div>
				<div class="intro--options">
                    {% for presentation_item in presentation %}
                    <a href="#0">
                        <h3>{{ presentation_item.titre }}</h3>
                        <p>{{ presentation_item.contenu|raw }}</p>
					</a>
                    {% endfor %}
				</div>
			</div>
		</li>
		<li class="l-section section">
			<div class="work">
				<h2>Mes projet et réalisations</h2>
				<div class="work--lockup">
					<ul class="slider">
                        {% for projet_item in projet %}
                            <li class="slider--item {% if loop.first %}slider--item-left{% elseif loop.index == 2 %}slider--item-center{% else %}slider--item-right{% endif %}">
                                <a href="#0">
                                    <div class="slider--item-image">
                                        <img src="{{ asset('styles/img/icones_projets/' ~ projet_item.photocouverture) }}" alt="{{ projet_item.alt }}">
                                    </div>
                                    <p class="slider--item-title">{{ projet_item.titre }}</p>
                                    <p class="slider--item-description">{{ projet_item.description }}</p>
                                </a>
                            </li>
                        {% endfor %}
					</ul>
					<div class="slider--prev">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
							<g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
								<path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
							</g>
						</svg>
					</div>
					<div class="slider--next">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
							<g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
								<path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
							</g>
						</svg>
					</div>
				</div>
			</div>
		</li>
		<li class="l-section section">
			<div class="about">
				<div class="about--banner">
					<h2>Mon<br>Parcours<br>Professionnel</h2>
					<a href="#0">Voir tout mon parcours
						<span>
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
								<g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
									<path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
								</g>
							</svg>
						</span>
					</a>
				</div>
				<div class="about--options">
					<a href="#0">
						<h3>Homiris</h3>
					</a>
					<a href="#0">
						<h3>La MAD</h3>
					</a>
					<a href="#0">
						<h3>Odéolis</h3>
					</a>
				</div>
			</div>
		</li>
		<li class="l-section section">
			<div class="hire">
				<h2>Mes compétences 🔧</h2>
				<div class="work-request--options">
                    {% for skill_item in skill %}
                        <div class="progress-container">
                            <span class="progress-label">{{ skill_item.titre }}</span><img style="width: 40px" src="{{ asset('styles/img/icones_competences/' ~ skill_item.logo) }}" alt="{{ skill_item.titre }}">
                            <div class="progress-bar">
                                <div class="progress" style="background-color:{{ skill_item.couleur }}" data-value="{{ skill_item.niveau }}"></div>
                            </div>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</li>
		<li class="l-section section">
			<div class="contact">
				<div class="contact--lockup">
					<div class="modal">
						<div
							class="modal-content">
							<!-- Bloc gauche avec informations et options -->
							<div class="modal-left">
								<div class="modal--information">
									<img class="profile-img" src="{{ asset('styles/img/profil/Profil.webp') }}" alt="Global">
									<p>Yoan DE VRIEZE</p>
									<a href="mailto:ouremail@gmail.com">devrieze.yoan@gmail.com</a>
									<a href="tel:+148126287560">+33 7 70 30 57 80</a>
								</div>

								<ul class="modal--options">
									<li>
										<a class="linkedin" href="https://www.linkedin.com/in/yoan-de-vrieze" target="_blank">
											<img src="{{ asset('styles/img/icons8-linkedin-48.png') }}">Linkedin
										</a>
									</li>
									<li>
										<a class="github" href="https://github.com/YoanDEVRIEZE" target="_blank">
											<img src="{{ asset('styles/img/icons8-github-48.png') }}">GitHub
										</a>
									</li>
								</ul>
							</div>

							<!-- Bloc formulaire aligné à droite -->
							<div class="modal--formulaire">
								<p>Par formulaire :</p>
								<form>
									<input class="formulaireinput" type="text" placeholder="Sujet">
									<textarea class="formulairearea"></textarea>
									<button class="formulairebutton" type="submit">Envoyer</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
{% endblock %}
