<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{% block title %}
				Portfolio de {{ user.prenom}} {{ user.nom }} - {{ site.title }}
			{% endblock %}
		</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" content="{{ site.keywords|join(',') }}">
        <meta name="author" content="Yoan DE VRIEZE">
		<meta property="og:title" content="{{ user.prenom}} {{ user.nom }} - Portfolio">
		<meta property="og:description" content="{{ site.reseaudescription }}">
		<meta property="og:image" content="{{ asset('styles/img/profil/' ~ user.photo) }}">
		<meta property="og:url" content="{{ site.url }}">
		<meta name="twitter:card" content="summary_large_image">
		<link rel="icon" href="{{ asset('styles/img/profil/' ~ user.photo) }}">

		{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/css/main.css') }}">
        {% endblock %}

		{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
	</head>
	<body>
		<div class="perspective effect-rotate-left">
			<div class="container">
				<div class="outer-nav--return"></div>
					<div id="viewport" class="l-viewport">
						<div class="l-wrapper">
							<header class="header">
								<a class="header--logo accueil" aria-label="Aller à la page d'accueil" title="Aller à la page d'accueil">
									<img class="profil-img" src="{{ asset('styles/img/profil/' ~  user.photo) }}" title="{{ user.prenom}} {{ user.nom }}" alt="{{ user.prenom}} {{ user.nom }}">
									<p>{{ user.prenom}} {{ user.nom }}</p>
								</a>
							</header>
							{% block body %}
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="{{ asset('styles/js/functions.js') }}"></script>
		<script src="{{ asset('styles/js/projet.js') }}"></script>
		<script src="{{ asset('styles/js/progressbar.js') }}"></script>
		<script src="{{ asset('styles/js/popup.js') }}"></script>
		<script src="{{ asset('styles/js/functions-min.js') }}"></script>
	</body>
</html>
