<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>
			{% block title %}
			{% endblock %}
		</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="keywords" content="{{ site.keywords|join(',') }}">
        <meta name="author" content="Yoan DE VRIEZE">
		<meta property="og:title" content="{{ user.prenom}} {{ user.nom }} - Portfolio">
		<meta property="og:description" content="{{ site.reseaudescription }}">
		<meta property="og:image" content="{{ asset('styles/img/profil/' ~ user.photo) }}">
		<meta property="og:url" content="{{ site.url }}">
		<meta name="twitter:card" content="summary_large_image">
		<link rel="icon" href="{{ asset('styles/img/profil/' ~ user.photo) }}">

		{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/css/login.css') }}">
        {% endblock %}

		{% block javascripts %}
        {% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
